/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 200; /* Sit on top */
    left: 0;
    top: 0;
    overflow: hidden; /* Enable scroll if needed */
    width:25%;
    height:20%

}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    padding: 0px;
    border: 0px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
    height: 100%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100%;
}