/* The Modal (background) */
.shopModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 200; /* Sit on top */
    left: 0;
    top: 0;
    overflow: hidden; /* Enable scroll if needed */
    width:30%;
    height:60%;
    border-radius: 5px;
}

.centreArrowCont{
    font-size:20px;
    position: absolute;
    bottom: -19px;
    text-align: center;
    width: 100%;
    
}

.glyphicon-chevron-down {
    font-size: 25px;
    position: relative;
    bottom: 0;
    background-color:rgba(102, 130, 230, 0.86);
    padding-left: 3px;
    padding-right:2px;
    border-radius: 50%;
}

.glyphicon-chevron-up {
    font-size: 25px;
    position: relative;
    bottom: 0;
    background-color:rgba(102, 130, 230, 0.86);
    padding-left: 3px;
    padding-right:2px;
    border-radius: 5px;
}

.centreModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 200; /* Sit on top */
    right: 0;
    top: 0;
    overflow: hidden; /* Enable scroll if needed */
    width:15%;
    height:37%;
    background-color:rgba(57, 93, 228, 0.86);
    color:white;
    border-radius: 10px;
    overflow:visible;
}

.centreModal .centreInnerContent{
    text-align:center;
    width:100%;
    height:100%;
    top: 0;
    position: absolute; 
}

/* Modal Content/Box */
.shopModal-content {
    background-color: #fefefe;
    padding: 0px;
    border: 0px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
    height: 100%;
    display:block;
    overflow: hidden; /* add this to contain floated children */
}

.shopInnerModal-content{
    width: 80%; 
    height: 80%;
    margin: 0 auto;
    overflow: hidden; /* add this to contain floated children */
}
/* The Close Button */
.close {
    color: red;
    float: right;
    font-size: 30px;
    font-weight: bold;
    padding-right: 10px;
    position: relative;
    z-index: 5;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100%;
}

#vis{
    height:100%;
    text-align:center;
}

.graph{
    margin-top:2%;
    padding-top:5%;
    margin-bottom:2%;
    text-align:center;
}

.modal-image-cont{
    height: 100%;
    width: 100%;
}

.row{
    margin-top: 20px;
    padding-left:1px;
    padding-right:1px;
    height:100%;
}
#modalImageCol{
    height:100%;
}
#shopModalImage{
    width: 100%;
    height: 100%;
    background-size: cover;
}
.container{
    width:100%;
}
.tab-content{
    width:100%;
    height:100%;
}
#modalStats{

}

.descriptionTitle{
    text-align: center;
}

#modalLeftBG{
    height:100%;
    padding-left:15px;
}

.modalLeftBG {
    background-color: #4365e2;
    height: 100%;
    width: 15%;
    float: left;

}

.modalLeftBG .modalLeftIconContainer {
    padding-top:10px;
}

.modalLeftBG .modalLeftIconContainer .modalLeftIcon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 50%;
}

.modalRight{
    display: block;
    height: 100%;
    float:left;
    top: -50px;
    position: relative;
    width:85%;
}

.modalTitle{
    height: 7%;
    border-bottom: 6px solid #4365e2;
}
.modalTitle .modalTitleText{
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.vbRight{
    border-right: 3px solid lightgray
}
#shopDescRow{
    text-align: center;
}